.warning {
    padding: 50px;
    text-align: center;
    border-bottom: solid 2px grey;
    background: #FFFFFF;
 }
 
 .adsense {
    padding: 50px;
    background: #FFFFFF;
}

 .text-adsense {
    color: rgb(85, 90, 90);
 }

 Button {
    margin-right: 10px;
 }

  
 h6, span {
    font-weight: bold;
 }
 
 .warning > p {
    font-size: smaller;
    color: rgb(85, 90, 90);
 }
 
 
 #hashtag {
    color: #20C06A
 }
 
 .menu-adsense {
    padding-top: 30px;
 }
 
 .menu-adsense > div {
     color: #20C06A;
     padding-right: 20px
 }

 #techno_smart {
     display: inline-block;
 }
 
 .text-menu {
     text-decoration: none;
     color: #20C06A
 }

 #mobileImage {
    display: inline;
 }

@media screen and (max-width: 540px) { 
    #mobileImage {
        margin-left: auto;
        margin-right: auto;
        display: block;
     }     
    .content-login {
        padding-top: 600px;
    }

    .text-adsense {
        text-align: center;
     }
 }
 
 