
.FormLogin {
    height: 400px;
    width: 300px;
    background: whitesmoke;
    margin-top: -435px;
    margin-left: 70%;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}